:root {
  --color-primary: #2f99ed;
  --color-dark: #000000;
  --color-light:#FFFFFF;
  --color-black: #0B0B0B;
  --color-white:#FFFFFF;
  --color-secondary-1: #505050;
  --color-secondary-2: #D5D5D5;
  --color-secondary-3: #EDF2F7;
}

.dark-mode {
  --color-primary: #3434FF;
  --color-dark: #000000;
  --color-light:#FFFFFF;
  --color-secondary-1: #505050;
  --color-secondary-2: #D5D5D5;
  --color-secondary-3: #EDF2F7;
}
